@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
    html{
        @apply font-Onest
    }
        
    :root{
        /* макимальная ширина контента */
        @apply [--widthContent:1200px]
        /* Растояние от границы брузера по бокам */
        [--widthContentMargin:15px] sm:[--widthContentMargin:20px]
    }    

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{        
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mx-auto w-[calc(100%-var(--widthContentMargin)*2)] max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    } 
}

@layer components{
    .table-primary{
        @apply table-auto border-spacing-0 border-separate w-full text-sm font-medium text-fblack
    }

    .table-primary-td{
        @apply sm:px-5 px-[15px] pb-[15px] first:pt-[15px] sm:py-[15px] sm:border-b first:border-l last:border-r border-fline sm:group-last/table:first:rounded-bl-[5px] 
        group-last/table:last:rounded-br-[5px] max-sm:group-first/table:first:border-t max-sm:last:border-b max-sm:group-first/table:first:rounded-tl 
        max-sm:group-first/table:first:rounded-tr max-sm:flex max-sm:justify-between max-sm:flex-wrap max-sm:gap-y-2.5 max-sm:before:text-fmainText max-sm:before:content-[attr(data-label)]
        max-sm:border-x max-sm:group-last/table:last:rounded-bl-[5px] 
    }

    .table-secondary-td{
        @apply lg:px-5 px-[15px] pb-[15px] first:pt-[15px] lg:py-[15px] lg:border-b first:border-l last:border-r border-fline lg:group-last/table:first:rounded-bl-[5px] 
        group-last/table:last:rounded-br-[5px] max-lg:group-first/table:first:border-t max-lg:last:border-b max-lg:group-first/table:first:rounded-tl 
        max-lg:group-first/table:first:rounded-tr max-lg:flex max-lg:justify-between max-lg:border-x max-lg:group-last/table:last:rounded-bl-[5px] group-first/table:first:rounded-tl-[5px] 
        lg:group-first/table:border-t group-first/table:last:rounded-tr-[5px]
    }

    .table-primary-th{
        @apply px-5 py-[15px] first:rounded-tl-[5px] font-medium last:rounded-tr-[5px] first:border-l last:border-r border-x-[#03537D]
    }

    .table-primary-thead{
        @apply text-white bg-[#03537D]  text-left max-sm:hidden
    }

    .link{
        @apply underline text-fred hover:text-fgreen transition-colors ease-linear duration-500
    }
}

@layer utilities{
    .scrollbar-h-0::-webkit-scrollbar{
        @apply h-0
    }

    .scrollbar-w-0::-webkit-scrollbar{
        @apply w-0
    }

    .contain-paint{
        contain: paint;
    }
}
